.container{
    margin-top: 30px;
}
.pull-right{
    float: right!important;
}
.pull-left{
    float: left!important;
}

.header-title{
background-color: darkcyan;
color: #fff;

}
.header-label{
font-size: 20px;

}
.bg-dark-nav{
    background-color: darkcyan;
}

.row-border{
    border-bottom: 2px solid;
    height: 50px;
}
.sub-title{
color:#909090;
font-size: 14px;
}

